@import url('http://fonts.cdnfonts.com/css/ubuntu');
body {
    font-family: Ubuntu, sans-serif;
    background-image: url("images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    color: black;
    width: 100vw;
    height: 100vh;
}
a {
    color: inherit;
    text-decoration: none;
}
header {
    background-color: rgba(12, 5, 5, 0.51);
    box-shadow: 0 4px 4px rgba(9, 5, 5, 0.26);
}
.header {
    color: white;

}
.logo {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    margin: 20px 5em;
}
.header_svg {
    float: right;
    display: inline-block;
    margin: 20px 1em;
}
.item {
    padding-right: 18px;
}
header svg:last-child {
    margin-right: 0;
    padding-right: 0;
}
.vl {
    display: inline-block;
    float: right;
    margin-top: 22px;
    padding-right: 1em;
    border-left: 1px solid white;
    height: 19px;
}
.sign_up {
    font-size: 14px;
    display: inline-block;
    float: right;
    margin: 26px 10em 0 0;
}
main {
    position: relative;
    justify-content: center;
    margin-top: 21em;
}
.container {
    position: absolute;
    right: 34em;
    bottom: -20em;
    background-color: white;
    max-width: 444px;
}
.container::before {
    display: block;
    position: absolute;
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    top: 29px;
}
.form_box {
    margin: 31px 60px 38px 60px;
}
.social_networks {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.sign_text {
    font-size: 20px;
    color: black;
    min-width: 60%;
}
.social_networks a {
    font-size: 14px;
    color: #3CB878;
}
.social_item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 5px;
    margin: 4px 0 0 0;
}
.facebook {
    background-color: #305DB8;
}
.google {
    background-color: #DF4A32;
}
.social_image {
    align-items: center;
    width: max-content;
    padding-left: 20px;
}
.network_text {
    color: white;
    font-size: 16px;
    text-align: center;
    padding-left: 20px;
}
.social_line {
    width: 1px;
    height: 28px;
    margin: 10px 0 10px 1em;
}
.facebook_social_line {
    background-color: #0A162F;
    opacity: 10%;

}
.google_social_line {
    background-color: #2B0D09;
    opacity: 10%;
}
.social_networks > span:last-child {
    position: relative;
    color: grey;
    background-color: white;
    font-size: 14px;
    margin: 1.5em 0 12px 0;
    width: 100%;
    text-align: center;
}
.social_spacing::before,
.social_spacing::after {
    display: inline-block;
    content: " ";
    position: absolute;
    background-color: #F2F2F2;
    top: 10px;
    left: 0;
    width: 152px;
    height: 1px;
}
.social_spacing::after {
    left: 170px;
}
.form_item {
    border: 1px solid #F2F2F2;
    border-radius: 2px;
    font-size: 14px;
    padding: 15px 0 15px 20px;
    width: 302px;
    margin: 16px 0 0;
}
.terms {
    position: relative;
    margin: 1em 0 0 2em;
}
.terms_color {
    color: #3CB878;
}
.terms_agreement input {
    display: none;
}
.terms_agreement:before {
    position: absolute;
    left: -25px;
    bottom: -4px;
    content: " ";
    width: 20px;
    height: 20px;
    border: 1px solid rgb(213, 213, 213);
}
.terms_agreement svg {
    position: absolute;
    top: 1px;
    left: -22px;
    display: none;
}
.form button {
    font-size: 16px;
    width: 100%;
    color: white;
    background-color: #3CB878CC;
    margin: 20px 0 0;
    border: none;
    border-radius: 4px;
    padding: 16px;
}






.logo:hover {
    color: #236d47;
    transition: 500ms ease-in-out;
}
.sign_up_transition:hover {
    color: #236d47;
    transition: 500ms ease-in-out;
}
.item_hover1:hover {
    fill: #236d47;
    transition: fill 500ms ease-in-out;
}
.item_hover2:hover {
    fill: #236d47;
    transition: fill 500ms ease-in-out;
}
.item_hover3:hover {
    fill: #236d47;
    transition: fill 500ms ease-in-out;
}
.item_hover2 {
    padding-bottom: 1px;
}
.facebook:hover {
    background-color: #022263;
    transition: background-color 500ms ease-in-out;
}
.google:hover {
    background-color: #AB1F09;
    transition: background-color 500ms ease-in-out;
}
.form input:focus {
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    transition: box-shadow 500ms ease-in-out;
}
.terms_color:hover {
    color: #01813F;
    text-decoration: underline;
    transition: all 500ms ease-in-out;
}
.terms_agreement input:checked + svg {
    display: block;
}
.form button:hover {
    background-color: #01813F;
    transition: background-color 500ms ease-in-out;
}

